body {
  font-family: 'Hiragino Sans GB', "microsoft yahei", "Helvetica Neue";
  color: #666;
}
input {
  cursor: auto;
  border: 1px solid #ccc;
  vertical-align: middle;
}
em {
  color: #e4393c;
}
.buy-w1200 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buy .item-title {
  height: 44px;
  background-color: #efefef;
  font: 600 14px Arial, "microsoft yahei";
}
.buy .w40 {
  width: 40px;
}
.buy .w430 {
  width: 430;
}
.buy .item-content .item-check {
  display: table-cell;
  width: 80px;
  vertical-align: middle;
  padding-left: 15px;
  text-align: left;
}
.buy .item-buttom .item-check,
.buy .item-title .item-checktitle {
  display: table-cell;
  width: 80px;
  vertical-align: middle;
  padding-left: 15px;
  text-align: left;
}
.buy .item-nametitle {
  display: table-cell;
  width: 480px;
  vertical-align: middle;
}
.buy .item-name {
  display: table-cell;
  width: 450px;
  vertical-align: middle;
  font-family: "Microsoft YaHei", SimSun, verdana;
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left: 30px;
}
.buy .item-name span {
  display: table-cell;
  width: 240px;
  padding-left: 24px;
}
.buy .item-name img {
  width: 80px;
  height: 60px;
  float: left;
}
.buy .item-type {
  display: table-cell;
  width: 105px;
  vertical-align: middle;
}
.buy .item-price {
  display: table-cell;
  width: 125px;
  vertical-align: middle;
}
.buy .item-count {
  display: table-cell;
  width: 140px;
  vertical-align: middle;
}
.buy .item-count .count-border {
  border: 1px solid #cacbcb;
  border-right: 0;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
  float: left;
}
.buy .item-count input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 13.3333px Arial;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  position: absolute;
  left: 17px;
  top: 0;
  border: 1px solid #cacbcb;
  width: 42px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  padding: 1px;
  margin: 0;
  font-size: 12px;
  font-family: verdana;
  color: #333;
  -webkit-appearance: none;
}
.buy .item-count .jia {
  float: right;
  border: 1px solid #cacbcb;
  border-left: 0;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
}
.buy .item-countn {
  display: table-cell;
  width: 130px;
  vertical-align: middle;
}
.buy .item-mod {
  display: table-cell;
  width: 130px;
  vertical-align: middle;
}
.buy .item-mod a:hover {
  color: #F98300;
}
.buy .item-content {
  height: 120px;
  border: 1px #d6d6d6 solid;
}
.buy .item-content li {
  height: 120px;
  text-align: center;
}
.buy .item-last {
  border-bottom: 1px solid #cacbcb;
}
.buy .cgd {
  width: 100%;
  height: 45px;
  padding-left: 5px;
  line-height: 45px;
  font-size: 14px;
  font-weight: bold;
}
.buy .linh {
  line-height: 44px;
  text-align: center;
}
.buy .item-buttom {
  height: 44px;
  font: 600 14px Arial, "microsoft yahei";
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #D6D6D6;
}
.buy .item-buttom .yellow {
  color: #f98500;
}
.buy .item-buttom .order-btn {
  display: inline-block;
  position: reactive;
  right: 0px;
  height: 46px;
  width: 83px;
  line-height: 46px;
  padding: 0 18px;
  background-color: #f98500;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  cursor: pointer;
  opacity: .9;
  filter: alpha(opacity=90);
}
.buy .item-buttom .order-btn:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  color: #fff;
}
.buy .item-buttom .item-button {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 136px;
}
.buy .item-empty {
  display: table;
  width: 100%;
  height: 525px;
  border: 1px #d6d6d6 solid;
  text-align: center;
  vertical-align: middle;
  align: center;
  margin-bottom: 30px;
}
.buy .item-empty .img {
  height: 157px;
  margin-top: 150px;
  width: 750px;
  margin-left: 300px;
}
.buy .item-empty .left {
  display: table-cell;
}
.buy .item-empty .right {
  display: table-cell;
  width: 300px;
}
.buy .item-empty .text {
  list-style: none;
}
.buy .item-empty .buy-text {
  font: 500 18px Arial, "microsoft yahei";
}
.buy .item-empty .buy-mt50 {
  margin-top: 50px;
}
.buy .item-empty .buy-btn {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  background-color: #f98500;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: .9;
  filter: alpha(opacity=90);
}
.buy .item-empty .buy-btn:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  color: #fff;
}
.buttom-border {
  height: 130px;
  border: 1px #d6d6d6 solid;
}
.order-confirm-title {
  font: 500 18px Arial, "microsoft yahei";
  padding-left: 30px;
  height: 47px;
  line-height: 47px;
  width: 1200px;
  text-align: left;
  margin: 0px auto;
}
.buy-confirm {
  border: 1px #d6d6d6 solid;
  width: 1200px;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  /*.{
     no-repeat 0 -10px;
    }*/
}
.buy-confirm .select-item {
  float: left;
  position: relative;
  border: 1px solid #d6d6d6;
  height: 18px;
  line-height: 18px;
  padding: 5px 24px;
  cursor: pointer;
}
.buy-confirm .select-selected {
  border: 2px solid #008bf7;
  padding: 4px 23px;
}
.buy-confirm .select-item:hover {
  border: 2px solid #008bf7;
  padding: 4px 23px;
}
.buy-confirm .select-selected b {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(../../img/order-selected.png) no-repeat;
}
.buy-confirm .ml30 {
  margin-left: 30px;
}
.buy-confirm .addr {
  overflow: hidden;
  text-align: left;
}
.buy-confirm h5 {
  font: 500 18px Arial, "microsoft yahei";
  height: 48px;
  line-height: 48px;
}
.buy-confirm .content {
  font: 500 14px Arial, "microsoft yahei";
  list-style: none;
  text-align: left;
  padding-left: 20px;
}
.buy-confirm span {
  padding-left: 8px;
  display: inline-block;
  overflow: hidden;
}
.buy-confirm .span1 {
  width: 84px!important;
}
.buy-confirm .span2 {
  width: 377px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.buy-confirm .span3 {
  width: 100px;
}
.buy-confirm .mod {
  color: #008cf8;
  padding-left: 10px;
}
.buy-confirm .addr-ico {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  line-height: 10px;
  width: 9px;
  margin-left: 5px;
  background: url(../../img/addr-i.png);
}
.buy-confirm .invoice {
  display: block;
}
.buy-confirm .more-addr {
  margin-top: 10px;
  color: #a7a7a7;
  cursor: pointer;
}
.buy-confirm .addr-warp {
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.buy-confirm .goods-title {
  padding-left: 10px;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.buy-confirm .goods-title .h40 {
  height: 40px;
  line-height: 40px;
}
.buy-confirm .goods-title .right {
  text-align: right;
  font: 600 18px Arial, "microsoft yahei";
  padding-right: 10px;
  padding-top: 20px;
}
.buy-confirm .h85 {
  height: 85px;
}
.buy-confirm .w1160 {
  width: 1160px;
}
.buy-confirm .ml20 {
  margin-left: 20px;
}
.buy-confirm .buy-pos {
  margin: 0 auto;
}
.buy-confirm .clear {
  clear: both;
}
.buy-confirm .add-addr {
  font-size: 14px;
  line-height: 48px;
  float: right;
}
.buy-confirm .addr-h5 {
  float: left;
}
.buy-confirm .hide {
  display: none;
}
.buy-confirm .w100 {
  width: 100px;
}
.buy-confirm .item-name {
  display: table-cell;
  width: 430px;
  vertical-align: middle;
  text-align: left;
  font-family: "Microsoft YaHei", SimSun, verdana;
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left: 30px;
}
.buy-confirm .item-name span {
  display: table-cell;
  width: 240px;
  padding-left: 24px;
}
.buy-confirm .item-name img {
  width: 80px;
  height: 60px;
  float: left;
}
.buy-confirm-bottom {
  border: 1px #d6d6d6 solid;
  width: 1200px;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-botton: 10px;
}
.buy-confirm-bottom li {
  list-style: none;
}
.buy-confirm-bottom .pay {
  display: block;
  height: 50px;
  line-height: 100px;
  text-align: right;
  vertical-align: bottom;
  align: right;
  padding-right: 10px;
}
.buy-confirm-bottom .pay-text {
  color: #f98500;
  font: 700 20px Arial, "microsoft yahei";
}
.buy-confirm-bottom .addrinfo {
  display: block;
  height: 25px;
  text-align: right;
  vertical-align: bottom;
  align: right;
  padding-top: 25px;
  padding-right: 10px;
  font: 500 14px Arial, "microsoft yahei";
}
.buy-confirm-bottom .order-btn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 18px;
  background-color: #f98500;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: .9;
  filter: alpha(opacity=90);
  padding-bottom: 8px;
}
.buy-confirm-bottom .order-btn:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  color: #fff;
}
.buy-confirm-bottom .pb10 {
  padding-bottom: 10px;
}
.buy-confirm-bottom .ml10 {
  margin-left: 10px;
}
.buy-confirm-bottom .w300 {
  width: 300px;
  margin-left: 3px;
}
.buy-confirm-bottom .input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 13.3333px Arial;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  line-height: 18px;
  border: 1px solid #ccc;
  padding: 5px;
  vertical-align: middle;
  float: none;
  height: 18px;
  padding: 3px 5px 2px 10px;
}
.addr-dialog {
  width: 500px;
}
.addr-dialog li {
  list-style: none;
}
.addr-dialog .left {
  display: table-cell;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}
.addr-dialog .right {
  display: table-cell;
  width: 375px;
  text-align: left;
}
.addr-dialog .list-item {
  height: 40px;
  line-height: 40px;
}
.addr-dialog .list-item input {
  height: 25px;
  line-height: 25px;
}
.addr-dialog .w309 {
  width: 309px;
}
.order-success {
  border: 1px #d6d6d6 solid;
  width: 1200px;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.order-success .success {
  width: 750px;
  height: 500px;
  margin-left: 180px;
  margin-right: 260px;
  background-image: url('../../img/order-sucess.png');
  background-repeat: no-repeat;
}
.order-success .success .order-warp {
  width: 540px;
  margin-left: 210px;
  margin-top: 70px;
  text-align: left;
}
.order-success .success .order-title {
  font: 600 18px Arial, "microsoft yahei";
}
.order-success .success .order-back {
  height: 25px;
  line-height: 25px;
}
.order-success .success li {
  list-style: none;
  height: 30px;
  line-height: 30px;
}
.order-success .success .pl40 {
  padding-left: 40px;
}
.order-success .success .pl25 {
  padding-left: 25px;
}
.order-success .success .red {
  color: #e4393c;
}
.buy-head {
  position: relative;
  top: -15px;
}
.addr-mod {
  color: #008bf7;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
}
.content-more li {
  height: 25px;
  line-height: 25px;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.moren {
  display: inline-block;
  margin-left: 8px;
}
.item-empty {
  display: none;
  width: 1200px;
  height: 525px;
  border: 1px solid #D6D6D6;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item-empty .img {
  width: 800px;
  height: 525px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
}
.item-empty .img .left,
.item-empty .img .right {
  display: inline-block;
  vertical-align: bottom;
}
.right li {
  list-style: none;
}
.right .buy-text {
  font-size: 18px;
  color: #333333;
}
.right .buy-mt50 {
  text-align: left;
}
.right .buy-mt50 .buy-btn {
  width: 80px;
  height: 25px;
  background: #FB9200;
  color: #fff;
  outline: none;
  border: 0;
}
.content-span {
  float: left;
}
