body {
    background: #fcfcfc;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.catalog{
  height: 484px !important
}

/*轮播图*/

.swiper-container {
    width: 980px;
    height: 484px;
    float: right;
}
 .store-price {
    display: inline-block;
    color:#999999;
    float:right;
	margin-top:10px;
    text-decoration:line-through;
}
.swiper-container img {
    width: 980px;
    height: 484px;
}

.swiper-pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: transparent;
    margin: 0 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}


/*热门商品  */

.hot-goods {
    font-family: microsoft yahei;
}

.hot-goods .title {
    position: relative;
    height: 81px;
    line-height: 81px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.hot-goods .title span {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 50%;
    margin-top: -9px;
}

.hot-goods .ic-left {
    background-image: url('../../img/hot-goods-left.png');
    background-repeat: no-repeat;
    left: 0;
}

.hot-goods .ic-right {
    background: url('../../img/hot-goods-right.png');
    background-repeat: no-repeat;
    left: 106px;
}

.hot-goods h2 {
    margin-left: 23px;
}

.goods-list {
    width: 1210px;
    overflow: hidden;
}

.goods-list ul {
    width: 1230px;
}

.goods-list .goods-item {
    width: 188px;
    height: 240px;
    margin: 0 15px 15px 0;
    background: #fff;
    position: relative;
    padding: 40px 20px 20px;
    position: relative;
    border: 1px solid #d6d6d6;
}

.goods-item:hover {
    box-shadow: 0 0 3px #158DF4;
    border: 1px solid #158DF4;
}

.goods-item:hover a {
    text-decoration: none;
}

.goods-item:hover .goods-summary p {
    text-decoration: underline;
    color: #158DF4
}

.goods-item .goods-img {
    height: 140px;
}

.goods-item .goods-img img {
    display: block;
    width: 147px;
    height: 114px;
    margin: 0 auto;
}

.goods-list .goods-item:nth-child(5n) {
    margin-right: 0;
}
.goods-item .goods-price {
    font-family: 'simsun';
    color: #E13B41;
    font-size: 22px;
}
.goods-item .goods-price em {
    font-family: microsoft yahei;
    font-size: 12px;
}

.goods-item .goods-summary p {
    font-size: 12px;
    color: #656565;
    width: 196px;
    height: 34px;
    line-height: 17px;
    overflow: hidden;
}

.goods-src-icon1 {
    position: absolute;
 
    right: 20px;
    bottom: 15px;
}

.goods-src-icon2 {
    position: absolute;
 
    right: 20px;
    bottom: 15px;
}