.container {
  width: 1200px;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #D6D6D6;
  font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
}
/*供应商管理*/
.btn-box {
  height:40px;
  text-align: right;
  line-height: 40px;
  margin-bottom: 15px;
}
.btn-box .btn-add , .btn-box .btn-delete {
  width: 70px;
  height:35px;
  line-height: 35px;
  background: #428BCA;
  color: #fff;
  border: 0;
  outline: none;
  margin-left: 15px;
}
.btn-box .btn-add:hover ,
.btn-box .btn-delete:hover ,
.btn-bottom .btn-sure:hover ,
.btn-bottom .btn-cancel:hover
{
  cursor: pointer;
}
.supplier-table {
  width: 100%;
  border: 1px solid #E1E6EB;
  text-align: center;
  color: #666666;
  margin-bottom: 15px;
}
.supplier-table thead th {
  height: 30px;
  font-size: 14px;
  background: #F5F6FA;
}
.supplier-table tbody td {
  height: 40px;
}

/*供应商添加*/
.supplier-add-head {
  height:40px;
  line-height: 40px;
  border-radius: 6px;
  background: #F2F2F2;
  padding-left: 15px;
}
.supplier-add-form {
  width: 60%;
  margin: 25px auto;
}
.supplier-add-form .form-group {
  margin-bottom: 20px;
}
.supplier-add-form .form-group label {
  display: inline-block;
  width: 70px;
  margin-right: 15px;
  font-size: 16px;
  color: #666666;
}
.supplier-add-form .form-group input {
  height: 30px;
  border: 1px solid #ADB2B5;
  padding-left: 15px;
  color: #666666;
}
.supplier-add-form .form-group .link {
  display: inline-block;
  vertical-align: middle;
}
.btn-bottom {
  text-align: center;
}
.btn-bottom button {
  width: 120px;
  height: 35px;
  line-height: 35px;
  background: #428BCA;
  color: #fff;
  border: 0;
  outline: none;
  margin: auto 20px;
}
.file {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: #EEEEEE;
  border: 1px solid #707070;
  border-radius: 3px;
  padding: 2px 12px;
  overflow: hidden;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  /*font-size: 100px;*/
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  text-decoration: none;
}
.hint {
  color: #9E9E9F;
}
.pic-container {
  display: inline-block;
  width: 60px;
  height:20px;
  border: 1px solid #ADB2B5;
  vertical-align: middle;
  text-align: center;
}