html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    height: auto !important;;
    min-height: 100%;
    padding-bottom: 80px;
}

.boxwidth {
    width: 1200px;
    margin: 0px auto
}

.container {
    overflow: hidden !important;
}
 
.header-top {
    width: 100%;
    height: 30px;
    background: #e7e7e7;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}

.header-top-child {
    width: 1200px;
    margin: 0px auto;
}

.layui-layer-loading {
    width: 37px !important;
}

.htc-left {
    float: left;
    font-size: 12px;
}

.htc-left button {
    margin-left: 10px;
    background: #168ff3;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.htc-right {
    float: right;
}

.htc-right span::before {
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;

    padding-right: 2px;
}

.htc-right span {
    display: table;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.htc-right span:first-child {
    margin-right: 10px
}

.htc-right span.hcr-sys::before {
    padding-top: 1px
}

/* logo 搜索框 购物车 */
.header-middle {
    background:#fff url('../../../img/head-middle-bg.jpg') no-repeat center;
    width: 100%;
    height: 112px
}

.header-middle-box {
    height: 100%;
}

.hmb-logo {
    /* float: left;
    margin-top: 30px */
    display: inline-block;
    line-height: 112px
}

.hmb-logo img {
    vertical-align: middle;
}

.hmb-search {
    width: 440px;
    height: 31px;
    /* float: left; */
    display: inline-block;
    border: 1px solid #999;
    position: relative;
    padding-left: 10px;
    margin-left: 220px;
    vertical-align: middle;
}

.hmb-search input,
.hmb-search button {
    border: none;
    background: none;
    line-height: 31px;
    height: 31px;
    outline: none;
}

.hmb-search input {
    width: 100%
}

.hmb-search button {
    position: absolute;
    right: -10px;
    top: -2px;
    cursor: pointer;
    height: 35px;
}

.hmb-search button img {
    height: 33px;
}

.hmb-cart {
    display: inline-block;
    vertical-align: middle;
    width: 115px;
    height: 32px;
    border: 1px solid #999;
    margin-left: 154px;
    line-height: 32px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.hmb-cart a {
    text-decoration: none;
}

.hmb-cart span {
    display: inline-block;
    vertical-align: middle;
}

.hmb-cart-icon {
    color: #168ff3
}

.hmb-cart-tips {
    position: absolute;
    right: 5px;
    position: absolute;
    top: -15px;
    color: red;
    z-index: 1
}

.hmb-cart-tips:before {
    font-size: 20px !important
}

.hmb-cart-tips i {
    font-style: normal;
    position: absolute;
    top: -1px;
    z-index: 2;
    color: #fff;
    left: 3px;
    font-size: 12px;
    min-width: 14px;
    text-align: center;
}

.nav {
    height: 45px;
    background: #168ff3;
    width: 100%
}

.classify {
    width: 220px;
    text-align: center;
    height: 100%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    background: #063d90;
    display: inline-block;
    vertical-align: top;
}

.classify:before {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.nav-list {
    display: inline-block;
    /*    overflow: hidden;*/
}

.nav-list ul li {
    width: 120px;
    display: inline-block;
    margin-left: -5px;
}

.nav-list ul li a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    vertical-align: middle;
    line-height: 45px;
    text-decoration: none;
}

.nav-list ul li:hover {
    background: #0076e4
}

.retailers {
    position: relative;
    cursor: pointer;
}

.retailers ul {
    display: none;
    position: absolute;
    background: #168ff3;
    top: 45px;
    z-index: 33333;
}

.retailers ul > li {
    margin-left: 0px;
}

.retailers ul > li a {
    color: #fff;
}

.retailers:hover ul {
    display: block;
}

/* left-bar */
.catalog {
    height: 0px;
    width: 220px;
    position: absolute;
    top: 45px;
    left: 0px;
    overflow: hidden;
    z-index: 20;
}

/* .catalog{
    display: block !important;
}
 */
.left-bar {
    height: 484px;
    float: left;
    width: 220px;
    background: #0c1431;
    overflow: hidden;

}

.left-bar ul li ul {
    display: none;
    padding-top: 10px
}

.lbf-child-catalog ul li a,
.lbf-third-catalog ul li a {
    color: #fff;
    font-size: 14px;

}

.lbf-child-catalog ul li a:hover,
.lbf-third-catalog ul li a:hover {
    color: #f4a52c;
    text-decoration: no-repeat
}

.left-bar-firstlist > ul {
    width: 220px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px !important
}

/*.left-bar .mCustomScrollBox,
.left-bar .mCSB_container {
    overflow: visible !important
}
*/
.left-bar ul > li {
    height: 45px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    width: 220px;
    font-size: 14px;
    font-weight: bold;

}

.left-bar ul > li.hover {
    background: #172046;
    width: 214px;
    border-left: 3px solid #168ff3;

}

/*.left-bar ul>li:hover  ul {
    width: 220px;
    height: 484px;
    background: #172046;
    background: rgba(23,32,70,.7);
    position: absolute;
    right: -200px;
    z-index: 125;
    top: 0;
    overflow: hidden;
}
*/
.lbf-child-catalog,
.lbf-third-catalog {
    width: 220px;
    height: 484px;
    background: #172046;
    background: rgba(23, 32, 70, .7);
    position: absolute;
    right: -205px;
    z-index: 125;
    top: 0;
    display: none;
    overflow: hidden;
}

.lbf-third-catalog {
    display: none;
    right: -400px;
    z-index: 10000;
}

.lbf-child-catalog ul, .lbf-third-catalog ul {
    display: none;
}

.left-bar ul > li span,
.left-bar ul > li i {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}

.left-bar ul > li i {
    width: 30px !important;
    background-repeat: no-repeat !important;
}

.left-bar ul > li span {
    width: 120px;
    text-align: left;
}

.left-bar-firstlist li.icon0 i {
    width: 20px;
    height: 17px;
    background: url('../../../img/catalog-icon.png') -124px -95px;
}

.left-bar-firstlist li.icon1 i {
    width: 20px;
    height: 20px;
    background: url('../../../img/catalog-icon.png') -10px -55px;
}

.left-bar-firstlist li.icon2 i {
    width: 18px;
    height: 22px;
    background: url('../../../img/catalog-icon.png') -130px -10px;
}

.left-bar-firstlist li.icon3 i {
    width: 16px;
    height: 22px;
    background: url('../../../img/catalog-icon.png') -48px -95px;
}

.left-bar-firstlist li.icon4 i {
    width: 21px;
    height: 14px;
    background: url('../../../img/catalog-icon.png') -50px -137px;
}

.left-bar-firstlist li.icon5 i {
    width: 20px;
    height: 20px;
    background: url('../../../img/catalog-icon.png') -50px -10px;
}

.left-bar-firstlist li.icon6 i {
    width: 20px;
    height: 17px;
    background: url('../../../img/catalog-icon.png') -84px -95px;
}

.left-bar-firstlist li.icon7 i {
    width: 20px;
    height: 25px;
    background: url('../../../img/catalog-icon.png') -10px -10px;
}

.left-bar-firstlist li.icon8 i {
    width: 20px;
    height: 20px;
    background: url('../../../img/catalog-icon.png') -90px -10px;
}

.left-bar-firstlist li.icon9 i {
    width: 20px;
    height: 17px;
    background: url('../../../img/catalog-icon.png') -168px -10px;
}

.left-bar-firstlist li.icon10 i {
    width: 20px;
    height: 16px;
    background: url('../../../img/catalog-icon.png') -168px -85px;
}

.left-bar-firstlist li.icon11 i {
    width: 20px;
    height: 18px;
    background: url('../../../img/catalog-icon.png') -50px -55px;
}

.left-bar-firstlist li.icon12 i {
    width: 18px;
    height: 15px;
    background: url('../../../img/catalog-icon.png') -10px -173px;
}

.left-bar-firstlist li.icon13 i {
    width: 18px;
    height: 18px;
    background: url('../../../img/catalog-icon.png') -168px -47px;
}

.left-bar-firstlist li.icon14 i {
    width: 18px;
    height: 22px;
    background: url('../../../img/catalog-icon.png') -10px -95px;
}

.left-bar-firstlist li.icon15 i {
    width: 19px;
    height: 13px;
    background: url('../../../img/catalog-icon.png') -91px -137px;
}

.left-bar-firstlist li.icon16 i {
    width: 20px;
    height: 16px;
    background: url('../../../img/catalog-icon.png') -10px -137px;
}

.left-bar-firstlist li.icon17 i {
    width: 18px;
    height: 22px;
    background: url('../../../img/catalog-icon.png') -130px -52px;
}

.left-bar-firstlist li.icon18 i {
    width: 19px;
    height: 18px;
    background: url('../../../img/catalog-icon.png') -90px -55px;
}

.left-bar ul > li span {
    width: 120px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.lbf-child-catalog ul li,
.lbf-third-catalog ul li {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    line-height: 45px
}

.lbf-child-catalog ul li {
    width: 130px;
    text-align: left;
}

/* footer */
.footer {
    height: 80px;
    background: #494e52;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px;

}

.footer p:first-child {
    margin-top: 23px;
}

.footer p,
.footer p a {
    text-align: center;
    text-decoration: none;
    color: #85888b;
    font-size: 12px;
    margin-bottom: 10px;
}

.goods-src-icon{
     position: absolute;
    right: 20px;
    bottom: 15px; 
    display:inline-block
    
}
.goods-src-icon img{
	max-width:60px;
	height:16px;
}
.goods-src-icon2 {
 
    width: 56px;
    height: 18px;
    background: url('../../../img/sn.png') no-repeat right 0;
 
}
/*login*/

.layui-layer-title {
    padding: 0px !important;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    color: #000 !important;
    text-align: center !important;
    overflow: hidden;
    background-color: #F8F8F8;
    font-size: 18px !important;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}

#login {
    text-align: center;
    margin-top: 40px;
}

#login div {
    margin-bottom: 20px;
    margin-left: -60px;
}

#login div input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;

}

#login div button {
    height: 40px;
    background: #168ff3;
    color: #fff;
    border: none;
    width: 204px;
    margin-left: 80px;
    outline: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#login div span {
    display: inline-block;
    text-align: right;
    width: 80px;
}

span.redBall {
    position: absolute;
    top: -90px;
    left: 22px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}